body {
    /* background-color: #390000; */
    background-color: #fcfcfc;
    color: #353535;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul li a {
    text-decoration: none;
    color: #252525;
}

ul li {
    display: inline;
    text-transform: uppercase;
    font-family: "Candara";
    margin-left: 12.5px;
    margin-right: 12.5px;
}



input {
    border: 2px solid #f3f3f3;
    height: 40px;
    margin-bottom: 20px;
    width: 500px;
}

ul li:hover {
    font-weight: bold;
}

nav ul {
    margin: 20px !important;
    padding: 0px !important;
    /* border: 3px dashed #565656; */
}

nav {
    /* position: relative;
    left: 100%;
    right: 100%;
    float: left; */
    display: flex;
    justify-content: center;
    /* margin: 100px; */
    /* border: 10px dashed #cdcddc; */
}

/* header {
    /* margin: 0;
    padding: 0; 
} */
