:root {
    background-color: #EFEFEF;
    color-scheme: #F9F9F9, #395230, #fff, #EEEEEE, #345327, #EFEFEF;
    /*              nav-bg    faded  icons:hover nav-separator button      bg */
    font-family: 'outfit', 'Rhodium Libre';

}

.logo {
    width: auto;
    display: flex;
    margin: auto;
    padding: 25px 15px;
    border-bottom: 2px solid #EFEFEF;
}

header {
    background-color: #F9F9F9;
    width: max-content;
    height: 100vh;
    position: absolute;
    margin-left: -10px;
    margin-top: -10px;
    box-shadow: 3px 0px 30px #00000010;
}

header nav ul {
    color: #345327;
    text-align: center;
    margin: 0;
    padding: 0;
}

.selected {
    color: #fff;
    background: #395230;
}

header nav ul li {
    padding: 20px 0px;
    font-size: 12px;
    border-bottom: 2px solid #EFEFEF;
    list-style: none;
    transition: 300ms ease-in-out;
    transition-property: 'color';
}

header nav ul li a {
    color: #345327;
    text-decoration: none;
} 

header nav ul li:hover {
    color: #fff;
    background: #345327;
}

header nav ul li:hover a {
    color: #fff;
}  

main {
    position: relative;
    z-index: -1;
    margin-left: 25vh;
}

a {
    cursor: default;
    text-decoration: line-through;
}