:root {
    background-color: #efefef;
    color-scheme: #f9f9f9, #395230, #fff, #eeeeee, #345327, #efefef;
    /*              nav-bg    faded  icons:hover nav-separator button      bg */
    font-family: "outfit", "Rhodium Libre";
}
         
.logo {
    width: auto;
    display: flex;
    margin: auto;
    padding: 25px 15px;
    border-bottom: 2px solid #efefef;
}

header {
    background-color: #f9f9f9;
    width: max-content;
    height: 200vh;
    position: absolute;
    margin-left: -10px;
    margin-top: -10px;
    box-shadow: 3px 0px 30px #00000020;
}

header nav ul {
    color: #345327;
    text-align: center;
    margin: 0;
    padding: 0;
}

.selected {
    color: #fff;
    background: #395230;
}

header nav ul a li {
    padding: 20px 0px;
    font-size: 12px;
    border-bottom: 2px solid #efefef;
    list-style: none;
    transition: 300ms ease-in-out;
    transition-property: "color";
}

header nav ul a li {
    color: #345327;
    text-decoration: none;
}

header nav ul a:hover {
    color: #fff;
    background: #345327;
}

header nav ul a:hover li {
    background: #345327;
    color: #fff;
}

main {
    /* position: relative; */
    z-index: -1;
    margin-left: 25vh;
    margin-top: 10vh;
    width: 80%;
}

a {
    cursor: default;
    text-decoration: none;
}

table {
    /* border: 1px solid #395230; */
    border-collapse: collapse;
    width: 100%;
}

thead {
    color: #f9f9f9;
    background-color: #39523090;
    /* border: 1px solid #395230; */
}

th {
    padding: 16px;
    font-weight: 300;
}

tbody tr {
    /* border-radius: 10px; */
    color: #818181;
    background-color: #fbfbfb;
    font-weight: 200;
}

tbody tr:hover {
    /* border-radius: 10px; */
    color: #fbfbfb;
    background-color: #71836b81;
}

tbody tr:nth-child(2n) {
    color: #5e5e5e;
    background-color: #39523015;
}

tbody tr:nth-child(2n):hover {
    /* border-radius: 10px; */
    color: #fbfbfb;
    background-color: #71836b81;
}

td {
    padding: 8px 34px;
    /* border: 1px solid #395230; */
}

td a img {
    height: 25px;
    width: 25px;
    margin-top: 5px;
    border-radius: 50%;
}

#border-top-left {
    border-radius: 10px 0px 0px 0px;
}

#border-top-right {   
    border-radius: 0px 10px 0px 0px;
}

.top-part {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 16px;
    /* border: 3px solid #345327; */
    /* width: 90%; */

}

.cta-1 {
    background-color: #3d4e37;
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    color: #efefef;
}

.search {
    display: flex;
    background-color: #fcfcfc;
    width: 300px;
    height: 40px;
    border: 3px solid #eeeeee;
    border-radius: 10px;
    box-shadow: 0px 5px 5px #00000010;
}

.search-icon {
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 5px;
}

.search-bar {
    color: #8f8f8f;
    background-color: #fcfcfc;
    border: none;
    outline: none;
    width: 100%;
    border-radius: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}

.item-1 {
    background-color: #00000020;
    border: 10px solid #345327;
}

.item-2 {
    grid-column: 2/7;
}

.item-4 {
    grid-column: 2/3;
}

.item-5 {
    grid-column: 3/7;
}

.item-6 {
    grid-column: 2/7;
}

.half-1 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.half-2 {
    grid-column-start: 4;
    grid-column-end: 7;
}

.item-8 {
    grid-column: 2/7;
}

input {
    display: flex;
    height: 35px;
    width: 450px;
    color: #8f8f8f;
    background-color: #fcfcfc;
    border: 3px solid #ececec;
    outline: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

select {
    display: flex;
    height: 43px;
    width: 450px;
    color: #8f8f8f;
    background-color: #fcfcfc;
    border: 3px solid #ececec;
    outline: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

::-webkit-file-upload-button {
    background-color: #fcfcfc;
    border: none;
    height: inherit;
}

.avatar {
    border-radius: 50px;
}