body {
    color: #353535;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    background-color: #EFEFEF;
    color: #345327;
    font-family: "outfit";
}

.image-wrapper {
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;
    filter: saturate(50%);
}

.inner-img {
    margin-right: 32px;
    filter: sepia(10%);
    transition: 500ms;
    transition-property: "scale";
}

.inner-img:hover {
    transform: scale(1.1) !important;
}

svg {
    margin-bottom: 8px;
}

/* nav ul li a {
    text-decoration: none;
    color: #345327;
    margin-top: 5px;
    transition-property: "color";
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
} */

main {
    position: absolute;
    margin-left: 10%;
    top: 8%;
    z-index: 1;
}


ul li a {
    text-decoration: none;
    color: #252525;
}

article {
    padding-top: 30px !important;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
    margin: auto;
}

article + article {
    margin-top: 40px;
    border-top: 1px #25252552 solid;
}

td img {
    border-radius: 50%;
    /* height: 20px !important;
    width: 20px !important; */
}

.avatar {
    border-radius: 100px;
}

.user-image {
    border: 10px solid #fff;
    border-radius: 30px;
    background-color: #fff;
}

.section-headers li {
    display: inline;
}

.details-list li {
    list-style: none;
}


.search-bar {
    position: relative;
}

.search-icon {
    position: absolute;
    z-index: 1;
    margin-left: 29%;
    margin-top: 10px;
}

.summary ul li {
    display: block;
}

.values {
    margin-left: 100px;
}

/* tr {
    height: 50px;
} */

/* h1, p {
    text-align: center;
} */
/* 
form {
    position: relative;
    left: 11%;
    // right: 10%;
}

.form-section {
    margin-top: 50px;
    padding-bottom: 30px;
    position: relative;
    left: 31%;
    width: 40rem;
    background: #fafafa;
    // border: 10px solid white; 
    border-radius: 50px;
}

input {
    border: 2px solid #f3f3f3;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 20px;
    width: 500px;
}

input:hover {
    border: 3px solid #74baff56;
    transition: ease-in-out;
    transition-duration: 200ms;
}

input:focus {
    border: 3px solid #ff006256;
    transition: ease-in-out;
    transition-duration: 200ms;
} */

.smb {
    width: 130px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background: #175f36;
    color: #fff;
}

.smb:hover {
    border: 3px solid #175f36;
    background: none;
    color: #175f36;
    transition: ease-in-out;
    transition-duration: 300ms;
}

/* header {
    /* margin: 0;
    padding: 0; 
} */

@media only screen and (width: 500px) {
    body {
        background-color: black;
    }
}